@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&subset=latin-ext');

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font: 400 20px 'Josefin Sans', sans-serif;
    color: #000;
    background-color: #FF8B00;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F5C256), to(#FF8B00));
    background-image: linear-gradient(rgb(252, 206, 106), rgb(241, 148, 34));
}

.page-header {
    width: 100%;
    margin: 35px auto;
}

.page-title {
    font-size: 36px;
    letter-spacing: 5px;
    margin: 0;
}

.subtitle {
    text-align: center;
    margin: 0px;
}

.page-title,
.subtitle {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}

.page-header img {
    display: none;
}

.page-title,
.recipes-title::first-letter,
.decorate::first-letter {
    color: #c41700;
}

.menu:hover {
    color: rgb(255, 115, 0);
}

.page-menu {
    display: flex;
    justify-content: center;
    background-color: #fcfcfc;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 30px 0;
    z-index: 10;
}

.page-menu a {
    font-size: 16px;
    margin: 5px 20px 5px 20px;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.page-menu a:hover {
    -webkit-transition: .3s all;
    transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
}

.active {
    color: #c41700;
}

.active::after {
    content: "";
    min-width: 50px;
    min-height: 0px;
    background-color: rgb(255, 139, 0);
    border: 2px solid rgb(255, 215, 0);
    position: absolute;
    bottom: 0px;
    right: 3%;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20vh auto;
}

.app-content,
.recipes-content,
.aboutinfo {
    width: 90%;
    min-height: 420px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 10px darkgoldenrod;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.section-title {
    padding-top: 38px;
    font-size: 24px;
    color: #dd2c00;
    font-style: italic;
}

label {
    cursor: pointer;
    display: inline-block;
    cursor: pointer;
    text-shadow: 0 0 1px #fff, 0 0 1px rgba(0, 0, 0, 0.6);
    position: relative;
    padding: 15px;
    margin: 10px;
}

label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(245, 126, 58);
    border-radius: 12px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 16px;
    transform: translate(-53%);
    background-color: rgb(255, 255, 255);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    -webkit-transform: translate(-53%);
    -moz-transform: translate(-53%);
    -ms-transform: translate(-53%);
    -o-transform: translate(-53%);
}

input[type=radio]:checked+label:before {
    content: "\2022";
    color: rgb(237, 162, 24);
    font-size: 30px;
    text-align: center;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

button,
input[name=showTime] {
    width: 100%;
    color: rgb(245, 245, 245);
    border: none;
    font-size: 24px;
    font-weight: 700;
}

button {
    padding: 10px 15px;
    background-color: #c41700;
}

input[name=showTime] {
    margin: 5px 0px;
    background-color: #000000;
}

.recipe {
    font-size: 16px;
    padding: 5px;
    border-bottom: 2px solid #000;
    width: 70%;
    margin: 0 auto;
    outline: none;
}

.recipe:last-child {
    margin-bottom: 50px;
}

.recipe img {
    width: 170px;
    height: 120px;
}

.recipe ol li {
    text-align: left;
    margin-left: 20px;
}

.recipes-title,
.decorate {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.recipes-title::first-letter,
.decorate::first-letter {
    font-size: 30px;
}

.recipe,
.recipes-title {
    outline: none;
    cursor: pointer;
}

.recipe:focus,
.recipes-title:focus {
    outline: none;

}

.option {
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 12px;
}


input[name=showTime],
.option,
.box,
h1 {
    text-align: center;
}

.cookingDegree {
    display: none;
}

.timer {
    width: 50%;
    margin: 0 auto;
}

.recipes-content {
    height: 90%;
}

.aboutinfo {
    font-weight: 700;

    line-height: 26px;
}

.aboutinfo p {
    margin: 0;
    display: inline-block;
    width: 90%;
    padding: 10px 20px;
    text-align: justify;
}

.aboutinfo p:last-of-type {
    margin-bottom: 10px
}

@media all and (min-width:960px) {

    .page-header h1 {
        font-size: 52px;
    }

    .aboutinfo p {
        width: 95%;
    }

    .aboutinfo p:last-of-type {
        margin-bottom: 20px
    }

    .section-title {
        font-size: 42px;
    }

    .page-menu a:hover::after {
        bottom: 5px;
    }

    .subtitle,
    .page-menu a {
        font-size: 26px;
        letter-spacing: 2px;
        padding: 10px;
    }

    button:hover {
        -webkit-transition: 0.5s all;
        transition: 0.5s all;
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
        background-color: #640d01;
    }

    .option {
        font-size: 20px;
    }

    .timer {
        width: 25%;
        margin: 10px auto;
    }

    .chicken,
    .egg {
        position: absolute;
        height: 100px;
    }

    .chicken {

        width: 90px;
        left: 35%;
        top: 15px;
        transform: translate(-50%, 0%);
        -webkit-transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        -o-transform: translate(-50%, 0%);
    }

    .egg {
        width: 130px;
        top: 20px;
        left: 65%;
        transform: translate(-50%, 0%);
        -webkit-transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        -o-transform: translate(-50%, 0%);
    }

    .app-content,
    .recipes-content,
    .aboutinfo {
        width: 55%;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }

    .recipes-title,
    .decorate {
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
    }

    .recipes-title::first-letter,
    .decorate::first-letter {
        font-size: 34px;
    }

    .recipe img {
        width: 270px;
        height: 220px;
    }
}